/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.footerBottom {
  width: 100%;
  background-color: #22b3c1;
  &__wrapper {
    width: 1100px;
    margin: 25px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  &__text {
    color: white;
    font-family: "Poppins";
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 1100px) {
  .footerBottom {
    &__wrapper {
      width: 90%;
    }
  }
}